
#myHeaderBar{
    border-top-color: rgb(228, 33, 18);
    border-right-color: rgb(228, 33, 18);
    border-bottom-color: rgb(228, 33, 18);
    border-left-color: rgb(228, 33, 18);
    background-color: #F54436;
    position:fixed;
    width:100%;
}
#myHeader{
    color:white;
    text-shadow:0px 0px;
    font-weight:normal;
    letter-spacing:.5px;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    margin-right:10%;
    margin-left:10%;
}

#myPanel{
    box-shadow:5px 0px 0px rgba(0, 0, 0, 0.5);;
    /*border-right:solid gray;*/
    overflow:scroll;
}

#sideMenuLink{
    border:none;
    background-color: #F54436;
    border-radius:0px;
    box-shadow:0px 0px 0px;
    padding:0px;
}

#sideMenuButton{
    text-shadow:0px 0px;
    color:white;
    line-height:1em;
    vertical-align:-30%;
    margin-top:7px;
}

.sideMenuElement{
    border-bottom:solid black 1px;
    height:50px;
    line-height:50px;
    letter-spacing:.5px;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color:white;
    padding-left:5px;
    text-shadow:0px 0px ;
}

#myPanel{
    background-color:#292929;
    z-index:100;
}

.ui-panel-inner{
    padding-right:0px !important;
    padding-left:0px  !important;
    padding-top: 0px  !important;
}


#searchInp{
    margin-right:20px;
    padding:3px;
    width:180px;
}
#inputDiv{
    border:solid black 1px !important;
}

.side-menu-icon{
    color:white;
}
.side-menu-icon-large{
    margin-top:12px;
    margin-left:30px;
}

.listTitle{
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    margin-left:20px;
    font-size:20px;
}

.logo{
    /*height:60%;*/
    /*margin-left:20%;*/
    border:solid black 2px;
    border-radius:5px;
}

.itemDivs{
    width:45%;
    float:left;
    margin:2%;
    margin-bottom:4%;
}

/* independent side menu scrolling from page */
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#footer{
    height:0px;
    text-align:center;
    background-color:#292929;
    border:0px;
    overflow:hidden;
}

.artist, .title{
    margin:0px;
    font-weight:bold;
}
.artist{
    color:gray;
    font-size:14px;
}

#mainHeader{
    margin:0px;
    font-size:24px;
}
.itemDivPopup{
    border:solid black;
    position:absolute;
    height:25%;
    width:35%;
    margin-left:15%;
    margin-top:20%;
    border-radius:5%;
    background-color: #F54436;
    color:white;
    text-shadow:0px 0px;
}
.popUpText{
    border-bottom:solid white 1px;
    display:block;
    font-size:18px;
}

#darkenDiv{
    background-color:black;
    opacity:.4;
    z-index:99;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
body{
    margin:0px;
}

#popupDiv{
    position:fixed;
    height:80%;
    width:80%;
    margin-left:5%;
    margin-top:-5%;
    background-color:#292929;
    text-shadow:0px 0px 0px;
    color:white;
    border:solid black;
    border-radius:10px;
}
#footerTitle{
    color:white;
    text-shadow:0px 0px 0px;
    letter-spacing:1px;
    font-weight:normal;
    margin-bottom:0px;
    margin-right:5%;
    margin-top:3%;
}
#footerArtist{
    color:lightgray;
    text-shadow:0px 0px 0px;
    font-weight:normal;
    margin-top:0px;
    font-size:14px;
    margin-right:22%;
    margin-bottom:5%;
    white-space:nowrap;
}
#footerIcon{
    float:left;
    height:5vh;
    margin-right:0px;
    margin-left:5%;
    margin-top:2%;
}
#footerUpIcon{
    color:white;
    float:left;
    font-weight:normal;
    margin-left:2%;
    margin-top:4%;
}
#footerPlay{
    color:white;
    float:right;
    font-weight:normal;
    margin-right:0px;
    margin-top:4%;
    margin-left:12%;
}
#p1Header{
    margin-top:15%;
    font-size:24px;
    margin-bottom:0px;
}